body {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font: 1.0em Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.app-container {
    padding: 0;
    transition: margin 500ms, padding 500ms;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
    /*width: 0.7em;*/
    /*background-color: transparent;*/
    /*margin-right: 0.5em;*/
}

/*::-webkit-scrollbar-thumb {*/
/*    background-color: darkgrey;*/
/*    border-radius: 1em;*/
/*}*/