body {
    background-image: url(../images/backgrounds/windows.jpg);
    /*background-image: url(../images/backgrounds/white.jpg);*/
    /*background-image: url(../images/backgrounds/black.jpg);*/
    font: 1.0em Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.app-container {
    padding: 0;
    transition: margin 500ms, padding 500ms;
    height: 100vh;
}