.pseudo-grid-item-inside.bottom-disable {
    display: none;
}

.pseudo-grid-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.pseudo-grid-item {
    height: 50px;
    width: 200px;
    padding: 0px 10px 0px 10px;
    text-overflow: clip;
    white-space: nowrap;
}

.pseudo-grid-item-inside {
    position: relative;
    height: 100%;
    text-overflow: fade;
    white-space: nowrap;
}

/* =============================================================== */

.bottom-menu-left {
    color: white;
    text-shadow: 0 0 3px black;
    position: relative;
    height: 15px;
    text-align: left;
}

.bottom-menu-right {
    color: white;
    text-shadow: 0 0 3px black;
    position: relative;
    height: 15px;
    text-align: right;
}

/* =============================================================== */

.bm-item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.bm-item:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* =============================================================== */
.bm-item.right {
    padding-right: 0;
    padding-left: 10px;
    filter: invert(1) drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
    width: 18px;
    height: 18px;
}