#grid-item-settings{
    display: flex;
    justify-content: space-between;
    height: 20px;
    color: white;
    text-shadow: 0 0 3px black;
}

.bottom-menu-left {
    text-overflow: ellipsis;
    overflow:hidden;
}

.bm-item.left {
    padding-right: 10px;
}

.bm-item.right {
    padding-left: 3px;
    filter: invert(1) drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
    width: 18px;
    height: 18px;
}

.bm-item:hover {
    cursor: pointer;
    opacity: 0.6;
}