.settings {
    position: fixed;
    top: 0;
    height: 100vh;
    transition: right 0.5s;
}

.settings.cancel-overlay {
    right: 5000px;
    width: 100vw;
    padding: 0;
    background: black;
    opacity: 0.4;
}

.window {
    right: -500px;
    width: 500px;
    cursor: default;
    margin: 0;
}

.where-padding {
    padding: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.close-icon {
    font-size: larger;
    padding-right: 10px;
    cursor: pointer;
}

.close-icon:hover{
    opacity: 0.6;
}

.line-icons {
    font-size: large;
}

/*===HEADERS AND LINES===*/
input[type=checkbox] {
    display: none;
}

.wrap-collabsible {
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapsible-label {
    display: block;
    cursor: pointer;
    transition: max-height 0.15s ease-out;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-in-out;
}

.toggle:checked + .collapsible-label + .collapsible-content {
    max-height: 1000px;
}

.content-inner{
    display: flex;
    justify-content: space-between;
    padding: 0.8em 2em;
}

.content-inner-collapsible {
    padding: 0.8em 1em;
}

.content-inner-title{
    display: flex;
}

.content-inner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-inner-icon{
    padding-right: 0.5em;
}

.content-inner-element{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0.5em 0;
}

/*====================================================================================================================*/
/*===SWITCH BUTTON===*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: .1s;
    border-radius: 1em;
}

.slider {
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider:before {
    position: absolute;
    left: 2px;
    bottom: 2px;
    content: "";
    height: 13px;
    width: 13px;
    transition: .1s;
    border-radius: 1em;
}

input:checked ~ .slider:before {
    transform: translateX(20px) translateY(-1px);
}