body {
    background: url(../images/backgrounds/windows.jpg);
    text-align: center;
    padding: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 1.0em Arial, Helvetica, sans-serif;
    position: relative;
}

*, html {
    margin:0;
    padding:0;
}

.grid {
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.grid-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    padding: 10px 0 10px 0;
}

.grid-item {
    height: 100px;
    width: 200px;
    padding: 0 10px 0 10px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.grid-item-inside {
    border-radius: 1em;
    background: white;
    position: relative;
    height: 100%;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.icon {
    position: absolute;
    top: 18px;
    width: 50px;
    height: 50px;
    margin: auto;
}

.grid-item-inside:hover {
    cursor: pointer;
}

.grid-item-inside:hover > .grid-item-inside-icon {
    margin-right: +60px;
}

.grid-item-inside:hover .icon {
    top: 13px;
    width: 60px;
    height: 60px;
}

.grid-item-inside:hover > .grid-item-inside-menu {
    animation: 0.7s ease 0s normal forwards 1 fadein;
    opacity: 1
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.grid-item-inside-menu {
    opacity: 0.0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.grid-item-inside-text{
    margin: 75px auto 0 auto;
}

.grid-item-inside-icon {
    text-align: center;
    margin-right: +50px;
}