.b-bookmarks {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 15px;
    height: 38px;
    margin: 0 auto;
    padding: 0 25px;
    white-space: nowrap;
    z-index: 10;
}
.b-bookmarks .b-menu-horiz_type_bookmarks {
    padding-top: 10px;
}
.b-bookmarks .b-link:hover {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.b-bookmarks .b-link_type_folder:hover {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}