#header-row {
    padding-top: 10px;
    padding-left: 10px;
}

#bookmarks{
    display: flex;
    flex-direction: row;
}

.header-left {
    padding-top: 3px;
    height: 18px;
    color: white;
    text-shadow: 0 0 3px black;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-item {
    padding-right: 20px;
}

.header-item:hover {
    cursor: pointer;
    opacity: 0.6;
}

.header-right {
    filter: invert(1) drop-shadow(0px 0px 3px rgb(0 0 0 / 0.4));
    width: 18px;
    height: 18px;
    padding-top: 2px;
    padding-right: 4px;
}

.header-right:hover {
    cursor: pointer;
    opacity: 0.6;
}

#root_popup {
    top: 40px;
    max-height: 600px;
    max-width: 700px;
    position: fixed;
    overflow-y: auto;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 3px black;
}

.header-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 2px;
}

.header-text:hover {
    background-color: #eee;
}

.pseudo-list-icon {
    position: relative;
    width: 0;
    height: 0;
}

.list-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -16px;
}

.header-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -16px;
    top: -20px;
    filter: invert(1);
}

.site-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -13px;
    top: 3px;
}

li {
    cursor: pointer;
    padding-right: 20px;
}

ul {
    padding-left: 30px;
    list-style: none;
}
