body {
    background-image: url(../images/backgrounds/windows.jpg);
    /*background-image: url(../images/backgrounds/white.jpg);*/
    /*background-image: url(../images/backgrounds/photo.jpg);*/
    font: 1.0em Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.app-container {
    padding: 0;
    transition: margin 500ms, padding 500ms;
    height: 100vh;
}

.content {
    padding: 100px 0 0 0;
    transition: margin 500ms, padding 500ms;
}

.grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    padding: 5px 0 5px 0;
}

.grid-item {
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    height: 100px;
    width: 200px;
    transition: padding 500ms;
}

.grid-item:hover > .empty-icon {
    opacity: 1;
    border-radius: 1em;
    border: 1px solid #fff;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 3px #000);
    animation: 0.5s ease 0s normal forwards 1 fadein;
}

.grid-item:hover .grid-item-inside-add-img{
    animation: 0.5s ease 0s normal forwards 1 fadein;
    opacity: 1;
}

.grid-item-inside {
    border-radius: 1em;
    position: relative;
    height: 100%;
    white-space: nowrap;
    background-color: white;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #000);
}

.empty-icon{
    background-color: transparent;
}

.icon {
    position: absolute;
    top: 18px;
    width: 50px;
    height: 50px;
}

.grid-item-inside:hover > .grid-item-inside-icon {
    margin-right: +60px;
}

.grid-item-inside:hover .icon {
    top: 13px;
    width: 60px;
    height: 60px;
}

.grid-item-inside:hover > .grid-item-inside-menu{
    animation: 0.7s ease 0s normal forwards 1 fadein;
    opacity: 1;
}

@keyframes fadein {
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.grid-item-inside-menu {
    opacity: 0.0;
    position: absolute;
    top: 5px;
    right: 5px;
    filter: drop-shadow(0px 2px 3px white) drop-shadow(0px -2px 3px white);
}

.grid-item-inside-text {
    padding-top: 75px;
}

.grid-item-inside-icon {
    text-align: center;
    margin-right: +50px;
}

.grid-item-inside-add {
    margin-right: 0;
    padding-top: 27px;
}

.grid-item-inside-add-img{
    opacity: 0;
    width: 45px;
    height: 45px;
    filter: invert(1) /*drop-shadow(0px 0px 2px black)*/
}