/*.settings {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    height: 100vh;*/
/*    transition: right 0.5s;*/
/*}*/

/*.settings.cancel-overlay {*/
/*    right: 5000px;*/
/*    width: 100vw;*/
/*    padding: 0;*/
/*    background: black;*/
/*    opacity: 0.4;*/
/*}*/

/*#settings-bottom-block {*/
/*    position: absolute;*/
/*    padding-bottom: 20px;*/
/*    bottom: 0;*/
/*}*/



.row {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    height: 24px;
    padding: 5px 10px 5px 15px;
}

.item-right {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*#title-row {*/
/*    padding-top: 10px;*/
/*    padding-bottom: 20px;*/
/*}*/

/*#logo {*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    cursor: url('../images/branding/chromewebstore.png'),auto;*/
/*}*/

/*#title {*/
/*    padding-left: 30px;*/
/*    cursor: url('../images/branding/chromewebstore.png'),auto;*/
/*}*/


/*#version {*/
/*    cursor: url('../images/branding/github.svg'),auto;*/
/*    color: #888888;*/
/*    font-size: 0.8em;*/
/*}*/

#git-link:hover, #store-link:hover {
    cursor: pointer;
}

.item-left {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: left;
    padding-top: 3px;
}

.item-right {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: right;
    padding-top: 2px;
}

/*.slider-long {*/
/*    border-radius: 1em;*/
/*    padding-right: 5px;*/
/*    padding-left: 5px;*/
/*    padding-top: 2px;*/
/*}*/

/*.slider-long:hover {*/
/*    background-color: #eee;*/
/*}*/

/*#rows, #cols {*/
/*    padding-right: 8px;*/
/*    padding-left: 6px;*/
/*    padding-top: 4px;*/
/*    width: 10px;*/
/*}*/

/*#close-settings-button {*/
/*    cursor: pointer;*/
/*}*/

/*.settings-icon {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    padding-right: 4px;*/
/*}*/

/*.rowhover {*/
/*    cursor: pointer;*/
/*    border-radius: 1em;*/
/*}*/

/*.rowhover:hover {*/
/*    background-color: #eee;*/
/*}*/

/*.input-row-1:hover ~ #load-from-file {*/
/*    background-color: #eee;*/
/*}*/

/*.input-row-back-out:hover ~ #load-background {*/
/*    background-color: #eee;*/
/*}*/

/*.input-row-back-out {*/
/*    width: 652px;*/
/*    height: 34px;*/
/*    position: absolute;*/
/*    top: 78px;*/
/*    opacity: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.input-row-1 {*/
/*    width: 652px;*/
/*    height: 34px;*/
/*    position: absolute;*/
/*    bottom: 88px;*/
/*    opacity: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.input-row-2 {*/
/*    width: 652px;*/
/*    height: 34px;*/
/*    position: absolute;*/
/*    left: -283px;*/
/*    overflow: hidden;*/
/*}*/

/*#upload_input, #upload_background {*/
/*    cursor: pointer;*/
/*    font-size: 50px;*/
/*    width: 652px;*/
/*    height: 34px;*/
/*    overflow: hidden;*/
/*}*/

/*#load-from-file, #load-background {*/
/*    padding: 0;*/
/*    height: 34px;*/
/*    width: 370px;*/
/*    overflow: hidden;*/
/*}*/

/*#load-text, #load-text-background {*/
/*    position: absolute;*/
/*    left: 15px;*/
/*    padding-top: 8px;*/
/*}*/

/*#load-icon, #load-icon-background {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    padding-top: 5px;*/
/*    height: 24px;*/
/*}*/

/*.rowgroup-separator {*/
/*    height: 2px;*/
/*    padding: 0 10px 0 10px;*/
/*}*/

/*.separator {*/
/*    position: absolute;*/
/*    width: 340px;*/
/*    left: 15px;*/
/*    height: 2px;*/
/*    background-color: #eee;*/
/*}*/

/*.rowgroup {*/
/*    height: 12px;*/
/*}*/

/*.rowgroup-title {*/
/*    color: #888888;*/
/*    font-size: 0.8em;*/
/*}*/