.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: -360px;
    background: white;
    transition: all 0.5s;
    width: 320px;
    height: 100vh;
    padding: 40px 20px;
}

#side-checkbox {
    display: none;
}

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    right: 0;
}