.settings {
    position: fixed;
    top: 0;
    height: 100vh;
    transition: right 0.5s;
}

.settings.window{
    right: -400px;
    width: 370px;
    padding: 10px;
    background: white;
}

.settings.cancel-overlay {
    right: 5000px;
    width: 100vw;
    padding: 0;
    background: black;
    opacity: 0.4;
}

.text {
    cursor: default;
}

#rows, #cols {
    padding-right: 6px;
}

.slider-long {
    position: absolute;
    right: 50px;
}

.settings-icon {
    width: 20px;
    height: 20px;
}

#save-to-file, #load-from-file {
    cursor: not-allowed;
}

#version {
    color: #888888;
    font: 0.8em Arial, Helvetica, sans-serif;
}

#row-down-title {
    padding-top: 25px;
}

#logo {
    width: 30px;
    height: 30px;
}

#title {
    padding-top: 5px;
    padding-right: 90px;
}

#close-settings-button {
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 20px;
}