:root{
    --min: 1;
    --max: 10;
    --value: 5;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('fonts/Segoe UI.ttf');
}

@font-face {
    font-family: 'Segoe Fluent Icons';
    src: local("fonts/Segoe Fluent Icons.ttf");
}

.window {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--background);
    color: var(--accent);
}

/*====================================================================================================================*/
/*===ICONS===*/
.icons {
    font-family: 'Segoe Fluent Icons', system-ui;
    font-size: x-large;
}

.ChevronDown:before {
    content: '\e70d';
}

.PenWorkspace:before{
    content: '\edc6';
}

.KeyboardClassic:before{
    content: '\e765';
}

.Refresh:before{
    content: '\e72c';
}

.Photo:before{
    content: '\e91b';
}

.Color:before{
    content: '\e790';
}

.GripperBarVertical:before{
    content: '\e784'; /*Columns*/
}

.GripperBarHorizontal:before{
    content: '\e76f'; /*Lines*/
}

.PenWorkspace:before{
    content: '\edc6'; /*Theme*/
}

.GridView:before{
    content: '\f0e2';
}

.Light:before {
    content: '\e793';
}

.EmojiTabFavorites:before {
    content: '\ed5a';
}

.OpenInNewWindow:before {
    content: '\e8a7';
}

.Bookmarks:before {
    content: '\e8a4';
}

.DockBottom:before {
    content: '\e90e';
}

.Click:before {
    content: '\e8b0';
}

.Download:before {
    content: '\e896';
}

.Upload:before {
    content: '\e898';
}

.Save:before {
    content: '\e74e';
}

.Cloud:before {
    content: '\e753';
}

.CloudDownload:before {
    content: '\ebd3';
}

.ChromeClose:before {
    content: '\e8bb';
}

.CheckMark:before {
    content: '\e73e';
}

.Edit:before {
    content: '\e70f';
}

.Delete:before {
    content: '\e74d';
}

.FolderOpen:before {
    content: '\e838';
}

.Folder:before {
    content: '\e8b7';
}
/*====================================================================================================================*/
/*===HEADERS AND LINES===*/
.title-no-accent{
    font-size: 0.8em;
    color: var(--not-accent);
}

.collapsible-label {
    border: 1px solid var(--border);
    color: var(--accent);
    background: var(--back);
    border-radius: var(--border-radius);
}

.collapsible-label:hover {
    background: var(--hover);
    border-bottom: 1px solid var(--border-bottom);
}

.toggle:checked + .collapsible-label .content-inner .icons .ChevronDown::before {
    content: '\e70e';
}

.toggle:checked + .collapsible-label {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: var(--back);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.collapsible-content .content-inner-last {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/*====================================================================================================================*/
/*===SWITCH BUTTON===*/

.slider {
    background-color: var(--hover);
}

.slider {
    border: 1px solid var(--border-slider);
}

.slider:before {
    background-color: var(--not-accent);
}

.checkbox-text:before {
    content: 'Off';
    position: absolute;
    left: -40px;
    top: -2px;
}

input:checked ~ .slider{
    background-color: var(--focus);
    border: 1px transparent;
}

input:checked ~ .slider:before {
    background-color: var(--back);
}

input:checked ~ .checkbox-text:before {
    content: 'On'
}

/*====================================================================================================================*/
/*===UPLOAD BUTTON===*/
input[type=file] {
    display: none;
}

.upload {
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border-bottom);

    border-radius: var(--border-radius);
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 28px;
    text-align: center;
    padding-top: 4px;
}

.upload:hover{
    background-color: var(--hover);
}

/*====================================================================================================================*/
/*===LINE BUTTON===*/
.inner-button:hover{
    cursor: pointer;
    background-color: var(--hover);
}

/*====================================================================================================================*/
/*===RANGE===*/
.content-horizontal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.slider-number{
    padding-right: 5px;
}

input[type=range].styled-slider {
    height: 4px;
    border-radius: 2px;
    -webkit-appearance: none;
    margin-top: 10px;
}

input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: var(--back);
    box-shadow: 0 0 1px var(--border-slider);
    margin-top: calc(4px * 0.5 - 20px * 0.5);
    outline: 4px solid var(--focus);
    outline-offset: -12px;
    transition: outline 0.1s ease;
}

input[type=range].styled-slider:hover::-webkit-slider-thumb {
    outline: 6px solid var(--focus);
    outline-offset: -10px;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(var(--focus),var(--focus)) 0/var(--sx) 100% no-repeat, var(--border-slider);
}

/*====================================================================================================================*/
/*===Select===*/
.select{
    background-color: var(--back);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    width: 200px;
    height: 30px;
    display: flex;
    padding-left: 10px;
    font-size: 0.9em;
    color: var(--accent);
}

.option{
    background-color: var(--hover);
}

/*====================================================================================================================*/
/*===Header===*/
.settings-header {
    padding: 0 10px 5px 0;
}

.header-logo {
    width: 50px;
    height: 50px;
    padding: 0 5px;
}

.settings-header-text {
    font-size: 1.2em;
}

.store-icons {
    width: 15px;
    height: 15px;
    padding-left: 5px;
    padding-top: 3px;
}

.header-small-row {
    display: flex;
    flex-direction: row;
}

#git-link:hover, #store-link:hover {
    cursor: pointer;
}