.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #efefef;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .1s;
}

input:checked + .slider {
    background-color: #0075ff;
}

.slider {
    position: absolute;
    left: 0;
    bottom: 0;
    border: solid #aaa 1px;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 16px;
}

.slider.round:before {
    border-radius: 50%;
}