:root {
    --back: #fff;
    --hover: #f3f3f3;
    --border: #e5e5e5;
    --border-bottom: #d0d0d0;
    --border-slider: #898989;
    --accent: #1a1a1a;
    --not-accent: #646464;
    --focus: #005fb8;
    --border-radius: 4px;
    --border-radius-big: 8px;
}

@font-face {
    font-family: 'Segoe UI';
url('fonts/Segoe UI.ttf')  format('truetype');
}

@font-face {
    font-family: 'Segoe Fluent Icons';
url("fonts/Segoe Fluent Icons.ttf") format("truetype");
    font-style: normal;
}

body{
    background-color: var(--hover);
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    padding: 50px;
    margin: 0;
}

/*Icons*/
.my-icons {
    font-family: 'Segoe Fluent Icons', system-ui;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.ChevronDown:before {
    content: '\e70d';
}

.PenWorkspace:before{
    content: '\edc6';
}

.KeyboardClassic:before{
    content: '\e765';
}

.Touchpad:before{
    content: '\efa5';
}

.Photo:before{
    content: '\e91b';
}

/*collabsible*/
input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapsible-line{
    display: flex;
    justify-content: space-between;
}

.collapsible-line-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-no-accent{
    font-size: 0.8em;
    color: var(--not-accent);
}

.lbl-toggle {
    display: block;
    border: 1px solid var(--border);
    padding: 0.8em 1em;
    color: var(--accent);
    background: var(--back);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.15s ease-out;
}

.lbl-toggle:hover {
    background: var(--hover);
    border-bottom: 1px solid var(--border-bottom);
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1000px;
}

.toggle:checked + .lbl-toggle .collapsible-line .my-icons .ChevronDown::before {
    content: '\e70e';
}


.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: var(--back);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.collapsible-content .content-inner-last {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.content-inner{
    display: flex;
    justify-content: space-between;
    padding: 0.8em 3em;
}

.content-inner-title{
    display: flex;
}

.content-inner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-inner-icon{
    padding-right: 0.5em;
}

.content-inner-element{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--hover);
    transition: .1s;
    border-radius: 1em;
}

.slider {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid var(--border-slider);
}

.slider:before {
    position: absolute;
    left: 2px;
    bottom: 2px;
    content: "";
    height: 13px;
    width: 13px;
    background-color: var(--not-accent);
    transition: .1s;
    border-radius: 1em;
}

.checkbox-text:before {
    content: 'Off';
    position: absolute;
    left: -40px;
    top: -2px;
}

input:checked ~ .slider{
    background-color: var(--focus);
    border: 1px transparent;
}

input:checked ~ .slider:before {
    transform: translateX(20px) translateY(-1px);
    background-color: var(--back);
}

input:checked ~ .checkbox-text:before {
    content: 'On'
}

/*upload*/

input[type="file"] {
    display: none;
}

.upload {
    border-top: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border-bottom);
    display: inline-block;
    cursor: pointer;
    width: 150px;
    height: 28px;
    border-radius: 4px;
    text-align: center;
    padding-top: 4px;
}

.upload:hover{
    background-color: var(--hover);
}

/*List*/
/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}